.masthead {
	/* padding-top: calc(6rem + 74px); */
	padding-top: 55px;
	padding-bottom: 3rem;
}
.masthead .masthead-heading {
	font-family: Abhaya Libre ExtraBold;
	font-style: normal;
	font-weight: 800;
	font-size: 55px;
	line-height: 65px;
}

.masthead-subheading {
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 19px;
}

@media (min-width: 992px) {
	.masthead {
		/* padding-top: calc(6rem + 104px); */
		padding-bottom: 3rem;
	}
}

.bg-yellow {
	background-color: #ffc700 !important;
}
.title-ways {
	/* WaysFood */

	/* position: absolute;
width: 80px;
height: 28px;
left: 65px;
top: 26px; */

	font-family: Barlow Condensed;
	font-style: italic;
	font-weight: 500;
	font-size: 23px;
	line-height: 28px;
	/* identical to box height */
	letter-spacing: 0.01em;

	color: #000000;
}
.text-brown {
	color: #433434 !important;
}
.text-yellow {
	color: #ffc700 !important;
}
.btn-brown {
	background: #433434;
	border-radius: 5px;
	color: #fff;
}
.btn-brown:hover {
	color: #fff;
	background-color: #6d5959;
	border-color: #3a2c2c;
}
.btn-brown:focus,
.btn-brown.focus {
	color: #fff;
	background-color: #6d5959;
	border-color: #3a2c2c;
	box-shadow: 0 0 0 0.2rem rgba(61, 23, 27, 0.5);
}
.divider-custom .divider-custom-line {
	width: 100%;
	height: 0.25rem;
	background-color: #433434;
	border-radius: 1rem;
	border-color: #433434 !important;
}

/* login register */
.modal-wf {
	background: #ffffff;
	border-radius: 10px;
}
.input-bg {
	background: rgba(210, 210, 210, 0.25);
	border: 2px solid #d2d2d2;
}
.input-bg:focus {
	border: 2px solid #331805;
	box-shadow: 0 0 0 0.2rem rgba(52, 38, 38, 0.25);
}

.pizza {
	width: 100%;
	max-width: 400px;
	height: auto;
}

.wordbreak {
	font-size: 3vw;
	word-break: keep-all !important;
}
.text-muted {
	font-size: 13px;
	line-height: 21px;
	color: #b1b1b1;
}
body {
	background: #e5e5e5;
	font-family: Abhaya Libre ExtraBold;
}
.masthead-subheading {
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	line-height: 19px;
}
.dropdown ul.dropdown-menu:before {
	content: "";
	border-bottom: 10px solid #fff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	position: absolute;
	top: -10px;
	right: 16px;
	z-index: 10;
}
.dropdown ul.dropdown-menu:after {
	content: "";
	border-bottom: 12px solid #ccc;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	position: absolute;
	top: -12px;
	right: 14px;
	z-index: 9;
}
