.masthead {
	/* padding-top: calc(6rem + 74px); */
	padding-top: 55px;
	padding-bottom: 3rem;
}
.masthead .masthead-heading {
	font-family: Abhaya Libre ExtraBold;
	font-style: normal;
	font-weight: 800;
	font-size: 55px;
	line-height: 65px;
}

.masthead-subheading {
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 19px;
}

@media (min-width: 992px) {
	.masthead {
		/* padding-top: calc(6rem + 104px); */
		padding-bottom: 3rem;
	}
}

.bg-yellow {
	background-color: #ffc700 !important;
}
.title-ways {
	/* WaysFood */

	/* position: absolute;
width: 80px;
height: 28px;
left: 65px;
top: 26px; */

	font-family: Barlow Condensed;
	font-style: italic;
	font-weight: 500;
	font-size: 23px;
	line-height: 28px;
	letter-spacing: 0.01em;

	color: #000000;
}
.text-brown {
	color: #433434 !important;
}
.text-yellow {
	color: #ffc700 !important;
}
.btn-brown {
	background: #433434;
	border-radius: 5px;
	color: #fff;
}
.btn-brown:hover {
	color: #fff;
	background-color: #6d5959;
	border-color: #3a2c2c;
}
.btn-brown:focus,
.btn-brown.focus {
	color: #fff;
	background-color: #6d5959;
	border-color: #3a2c2c;
	box-shadow: 0 0 0 0.2rem rgba(61, 23, 27, 0.5);
}
.divider-custom .divider-custom-line {
	width: 100%;
	height: 0.25rem;
	background-color: #433434;
	border-radius: 1rem;
	border-color: #433434 !important;
}

/* login register */
.modal-wf {
	background: #ffffff;
	border-radius: 10px;
}
.input-bg {
	background: rgba(210, 210, 210, 0.25);
	border: 2px solid #d2d2d2;
}
.input-bg:focus {
	border: 2px solid #331805;
	box-shadow: 0 0 0 0.2rem rgba(52, 38, 38, 0.25);
}

.pizza {
	width: 100%;
	max-width: 400px;
	height: auto;
}

.wordbreak {
	font-size: 3vw;
	word-break: keep-all !important;
}
.text-muted {
	font-size: 13px;
	line-height: 21px;
	color: #b1b1b1;
}
body {
	/* background: #e5e5e5; */
	background: #efefef;
	font-family: Abhaya Libre ExtraBold;
}
.masthead-subheading {
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	line-height: 19px;
}
/* add charret to dropdown */

.dropdown-menu-right:before {
	position: absolute;
	font-family: Avenir;
	top: -10px;
	right: 24px;
	content: "";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
	z-index: 2;
}
/* hide carret icon */
.dropdown-toggle::after {
	display: none;
}

.dropdown-logo {
	max-width: 20px;
	height: auto;
	margin-right: 4px;
}
.btn-yellow {
	background: #ffc700;
	border-radius: 5px;
	font: Avenir;
}
.btn-yellow:hover {
	background-color: #ffd900;
	border-color: #8a7015;
}
.btn-yellow:focus,
.btn-yellow.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 251, 0, 0.411);
}
.mt-custom {
	margin-top: 80px !important;
}
.profile-text {
	font: Avenir;
}
.profile-text h5 {
	font-family: Avenir;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 25px;
	color: #613d2b;
}

[type="file"] {
	height: 0;
	overflow: hidden;
	width: 0;
}

[type="file"] + label.custom {
	border-radius: 5px;
	cursor: pointer;
	font-size: inherit;
	outline: none;
	position: relative;
	transition: all 0.3s;
	background: rgba(210, 210, 210, 0.25);
	border: 2px solid #766c6c;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	text-align: center;
	padding: 0.375rem 0.75rem;
}
[type="file"] + label.custom:hover {
	background-color: #43343498;
}
/* .imghover:hover {
	-webkit-filter: grayscale(1) invert(1);
	filter: grayscale(1) invert(1);
} */
input {
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
}

.table-bordered-black td,
.table-bordered-black th,
.table-bordered-black tr {
	border: 1px solid #000 !important;
}
/* .table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
	border: 1px solid #000000;
} */

.error {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
.btn-nav {
	width: 8vh;
}
.map-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.btn-sm2 {
	font-size: 0.8rem;
	line-height: 1.5;
	border-radius: 0.2rem;
	width: 8vh;
	text-align: center;
	height: 25px;
	padding: 0;
}
